
@{
    ViewData["Title"] = "About";
}
@section style{
    
    <link rel="stylesheet" href="~/assets/css/about-us.css">
}

<main>
    <section id="img">
        <div class="hero-image">
            <div class="hero-text">
                <h1 style="font-size:50px">About for Bacola</h1>
                <h3>WE CAN DO MORE FOR YOU</h3>

            </div>
        </div>
    </section>
    <section id="texts">
        <div class="container mt-5">
            <div class="row mt-5">
                <p>
                    In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis. Donec
                    augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a
                    lectus
                    id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus. Vestibulum
                    sit
                    amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam, pretium facilisis
                    nisl.
                    Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
                </p>
                <h2 class="quisque">
                    Quisque erat urna, congue et libero in
                    eleifend euismod velit.
                </h2>
                <p class="in-nec">
                    In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo
                    iaculis. Donec
                    augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a
                    lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus.
                    Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam,
                    pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
                </p>

            </div>
        </div>
    </section>

    <section id="img-second">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="bad-boy"
                         src="https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-people.jpg" alt="">
                </div>
                <div class="col-6">
                    <div class="detail">
                        <p class="rachel">Rachel Leonard - Bacola CEO</p>
                        <h1 class="duis">Duis convallis luctus pretium. Pellentesque habitant morbi</h1>
                        <p class="lorem">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.

                            In fermentum mi ut sapien semper, a sagittis lorem vulputate. Integer gravida, dui eget
                            aliquet tempus, turpis orci vehicula ipsum, eget porttitor sapien tortor at neque. Cras
                            id pulvinar lacus, ac volutpat neque. Ut at magna id justo bibendum lobortis. Integer
                            tortor nulla, ultricies et nisi sit amet, interdum dictum felis. In semper laoreet dui
                            vitae pharetra. Etiam sit amet molestie nulla, eu efficitur orci. Praesent rutrum ante
                            justo, eget malesuada ante ornare ac. Ut dignissim blandit urna, eget euismod leo
                            rhoncus nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                            cubilia curae; Quisque lobortis libero ante. Nullam in feugiat erat. Aenean sed justo
                            dapibus, sodales nisi ut, fringilla lorem. Vestibulum in orci ac nisl condimentum
                            fermentum at et sem. Curabitur fermentum dolor eu lacus consectetur varius.
                        </p>
                    </div>
                </div>
                <div class="purus">
                    <p>
                        In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis.
                        Donec augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex.
                        Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in
                        dapibus. Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta
                        auctor quam, pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor
                        blandit nec.
                    </p>
                </div>
                <div class="end-text">
                    <p>
                        In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis.
                        Donec augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex.
                        Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in
                        dapibus. Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta
                        auctor quam, pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor
                        blandit nec.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
