* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-tag {
  background-color: blue;
  color: white;
  padding-top: 5px;
  font-size: large;
  height: 30px;
  text-align: center;
}
#first-nav {
  nav {
    .list {
      display: flex;

      ul {
        display: flex;
        li {
          list-style-type: none;
          a {
            font-size: 13px;
            margin-right: 10px;
            text-decoration: none;
            color: $gray-text-color;
          }
          a:hover {
            color: $aqua-color;
          }
        }
      }
    }
    .center {
      width: 100%;
      display: flex;
      .secure-delivery {
        display: flex;
        color: $gray-text-color;
        font-size: 13px;
        margin-right: 5px;
      }
      .call-helping {
        display: flex;
        border-left: 1px solid $gray-text-color;
        border-right: 1px solid $gray-text-color;
        span {
          font-size: 13px;
          color: $gray-text-color;
          a {
            font-size: 15px;
            text-decoration: none;
            color: $aqua-color;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .drops {
    width: 100%;
    display: flex;
    #drip {
      font-size: 13px;
    }
    #drop {
      font-size: 13px;
    }
  }
}
#second-nav {
  .logo {
    width: 100%;
    height: 30px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .logo:hover {
    cursor: pointer;
  }
  .location {
    height: 250px;
    overflow-y: scroll;
    margin-top: 15px;

    h3 {
      a {
        color: $gray-text-color;
        text-decoration: none;
        font-size: 20px;
      }
      a:hover {
        color: $aqua-color;
      }
    }
  }
  .input-group {
    width: 100%;
    height: 30px;
    .form-outline {
      width: 80%;
    }
  }
  #search-btn {
    width: 20%;
  }
  .log-users {
    margin-left: 10px;
    display: flex;
    a {
      text-decoration: none;
      margin-left: 20px;
      margin-right: 20px;

      #log {
        color: $gray-text-color;
      }
      i {
        font-size: 35px;
        color: red;
        span {
          position: absolute;
          font-size: 20px;
          color: orangered;
        }
      }
    }
    #span {
      color: $gray-text-color;
      font-size: 26px;
    }
  }
}
#third-nav {
  .catagories {
    width: 100%;
    height: 60px;
    background-color: $aqua-color;
    border-radius: 20px;
    text-align: center;
    .allCatan{
      position: absolute;
      margin-top: 15px;
      margin-left: -55px;
    }
    .drobovik {
     padding-top: 15px;
     position: absolute;
     z-index: 2;
    }
    #ulli {
      width: 100%;
      background-color: white;
      border: 1px solid black;
      border-radius: 20px;
      margin-top: 40px;
      
      ul {
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: $gray-text-color;
          }
          a:hover {
            color: $aqua-color;
          }
          .fruits {
            position: absolute;
            margin-left: 15px;
            width: 200px;
            border: 1px solid black;
            border-radius: 20px;
            background-color: white;
            z-index: 2;
          }
          .beverag {
            position: absolute;
            margin-left: 220px;
            border: 1px solid black;
            border-radius: 20px;
            width: 200px;
            background-color: white;
            z-index: 2;
          }
        }
      }
    }
  }
  

  .nav-bar {
    ul {
      display: flex;
      li {
        list-style-type: none;
        a {
          margin-left: 20px;
          font-size: 16px;
          text-decoration: none;
          color: $gray-text-color;
        }
        a:hover {
          color: $aqua-color;
        }
      }
    }
  }
  #btn-home-group {
    
    right: 0px;
    color: $gray-text-color;
    ul {
      display: inline;
      
    }
  }
  #home-drop:hover {
    color: $aqua-color;
  }
  #btn-shop {
    color: $gray-text-color;
  }
  #btn-shop:hover {
    color: $aqua-color;
  }
  #show-drop {
    width: 100vw;
    margin-left: -40vw;
    .show-menu {
      display: flex;
      //   width: 100%;
      .hide-shop {
        width: 25%;
        ul {
          text-align: center;
          width: 100%;
          display: inline;
        }
      }
      .hide-product {
        width: 25%;
        ul {
          text-align: center;
          width: 100%;
          display: inline;
        }
      }
      .product-types {
        width: 25%;
        ul {
          text-align: center;
          width: 100%;
          display: inline;
        }
      }
      .show-pages {
        width: 25%;
        ul {
          text-align: center;
          width: 100%;
          display: inline;
        }
      }
      .shop-layouts {
        width: 25%;
        ul {
          text-align: center;
          width: 100%;
          display: inline;
        }
      }
    }
  }
}
main {
  #wrapper {
    #owl {
      .owl-nav {
        position: absolute;
        top: 200px;
        width: 100%;
        .owl-prev {
          position: absolute;
          left: 5px;
          i {
            position: absolute;
            left: 20px;
            background-color: white;
            width: 50px;
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 50%;
          }
        }
        .owl-next {
          position: absolute;
          right: 5px;
          i {
            position: absolute;
            right: 20px;
            background-color: white;
            width: 50px;
            height: 50px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 50%;
          }
        }
      }
      .item {
        width: 100vw;
        .image-sli {
          width: 100vw;
          img {
            
            width: 100%;
          }
        }
      }
    }
  }
  #prod {
    .cart1 {
      width: 100%;
      text-align: center;
      height: 300px;
      .card {
        height: 270px;
        .img {
          height: 150px;
        }
      }
    }
    .double-cart1 {
      height: 300px;
      .biscuit {
        display: flex;

        .image1 {
          width: 100%;
          display: flex;
          height: 134px;
          #img1 {
            margin-top: 30px;
            width: 30%;
            height: 75px;
          }

          .heath {
            margin-top: 30px;
          }
        }
      }
      .fruit {
        display: flex;
        .image2 {
          width: 100%;
          display: flex;
          height: 134px;
          #img2 {
            margin-top: 30px;
            width: 30%;
            height: 75px;
          }
          .heath1 {
            margin-top: 30px;
          }
        }

        span {
          display: inline;
          float: right;
        }
      }
    }
    .double-cart2 {
      .breads {
        display: flex;

        .image3 {
          width: 100%;
          display: flex;
          height: 134px;
          #img3 {
            margin-top: 30px;
            width: 30%;
            height: 75px;
          }

          .heath2 {
            margin-top: 30px;
          }
        }
      }
      .grocery {
        display: flex;
        .image4 {
          width: 100%;
          display: flex;
          height: 134px;
          #img4 {
            margin-top: 30px;
            width: 30%;
            height: 75px;
          }
          .heath3 {
            margin-top: 30px;
          }
        }

        span {
          display: inline;
          float: right;
        }
      }
    }
    .double-cart3 {
      .breakfast {
        display: flex;

        .image5 {
          width: 100%;
          display: flex;
          height: 134px;
          #img5 {
            margin-top: 30px;
            width: 30%;
            height: 75px;
          }

          .heath4 {
            margin-top: 30px;
          }
        }
      }
      .needs {
        display: flex;
        .image6 {
          width: 100%;
          display: flex;
          height: 134px;
          #img6 {
            margin-top: 30px;
            width: 30%;
            height: 75px;
          }
          .heath5 {
            margin-top: 30px;
          }
        }

        span {
          display: inline;
          float: right;
        }
      }
    }
    .double-cart4 {
      .frozen {
        display: flex;

        .image7 {
          width: 100%;
          display: flex;
          height: 134px;
          #img7 {
            margin-top: 30px;
            width: 30%;
            height: 75px;
          }

          .heath6 {
            margin-top: 30px;
          }
        }
      }
      .meats {
        display: flex;
        .image8 {
          width: 100%;
          display: flex;
          height: 134px;
          #img8 {
            margin-top: 30px;
            width: 30%;
            height: 75px;
          }
          .heath7 {
            margin-top: 30px;
          }
        }

        span {
          display: inline;
          float: right;
        }
      }
    }
  }
  
  #timer-prod {
    .death {
      width: 1200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      .products {
        padding-left: 10px;
        .mycard {
          position: relative;
          border: none;
          border-right: 1px solid #edeef5;
          border-bottom: 1px solid #edeef5;
          .card-body {
            position: inherit;
            h5 {
              font-size: 15px;
              color: #202335;
              font-family: "Intern", sans-serif;
            }
            .stock {
              color: #00b853;
              font-size: 0.6875rem;
              margin-bottom: 0.625rem;
              font-weight: bold;
            }
            .rateing {
              font-family: "klbtheme";
              font-size: 11px;
              padding-top: 10px;
              .activerateing {
                color: orange;
              }
            }
            .price {
              .oldprice {
                text-decoration: line-through;
                color: #c2c2de;
                font-size: 80%;
                font-weight: 500;
              }
              .newprice {
                font-family: "Dosis", sans-serif;
              }
            }
            a {
              width: 100%;
              background-color: #233a95;
              color: white;
              border-radius: 20px;
              opacity: 0;
              position: relative;
            }
          }
          &:hover a {
            opacity: 1;
            transition: all 0.8s;
            margin-top: 220px;
          }
          &:hover {
            position: relative;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 2px solid #edeef5;
      
            z-index: 12;
          }
          .percent {
            position: absolute;
            left: 10px;
            top: 10px;
            background-color: #0077b5;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-family: "Dosis", sans serif;
            font-weight: 700;
          }
          .zoom {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 30px;
            right: 20px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            border-radius: 50%;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            opacity: 0;
            &:hover {
              background-color: #1da1f2;
              color: white;
            }
          }
          .heart {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 80px;
            right: 20px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            border-radius: 50%;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            opacity: 0;
            &:hover {
              background-color: #1da1f2;
              color: white;
            }
          }
          &:hover .heart {
            opacity: 1;
            transition: all 0.5s;
          }
          &:hover .zoom {
            opacity: 1;
            transition: all 0.3s;
          }
        }
        * {
          margin: 0;
          padding: 0;
        }
        
      }
      .timerdeath {
        margin-right: 20px;
        width: 420px;
        height: 797.05px;
        padding: 15px;
        border: 1px solid black;
        border-radius: 20px;
        .deathcontent {
          .deathheader {
            width: 390px;
            height: 143px;
            padding: 0px 30px 0px 30px;
            .header-txt {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              h4 {
                display: inline;
              }
              h3 {
                display: inline;
                color: red;
                margin-left: 20px;
                font-size: 25px;
              }
            }
            .clock {
              position: relative !important;
              padding-top: 0px;
              margin-left: -194px;
              height: 100px;
              width: 800px;
              zoom: 1;
              transform: scale(0.54);
              -ms-transform: scale(0.54);
              -webkit-transform: scale(0.54);
              -o-transform: scale(0.54);
              -moz-transform: scale(0.54);
            }
          }
          .death-detal {
            position: relative;
            .death-discount {
              position: absolute;
              width: 50px;
              height: 50px;
              background-color: red;
              border-radius: 50%;
              color: white;
              text-align: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              left: 16%;
              top: 45px;
              padding-top: 5px;
              padding-top: 12px;
              font-family: "Inter", sans-serif;
              font-weight: bold;
            }
            .img {
              width: 100%;
              img {
                width: 100%;
              }
            }
          }
          .pr-detal {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .pr {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              h5 {
                text-decoration: line-through;
                color: #c2c2d3;
                display: inline;
              }
              h4 {
                margin-left: 20px;
                color: #d51243;
              }
            }
          }
          .name-detal {
            h3 {
              a {
                text-decoration: none;
                color: #202435;
                font-size: 25px;
                &:hover {
                  color: #2bbef9;
                  -webkit-transition: all 0.3s;
                  transition: all 0.3s;
                }
              }
            }
          }
          .stock {
            span {
              &:nth-child(1) {
                color: #9b9bb4;
              }
              &:nth-child(2) {
                color: #00b853;
              }
            }
          }
          .available {
            text-align: end;
            margin-right: 10px;
            color: #00b853;
            div {
              width: 90%;
              height: 10px;
              background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(#d51243),
                color-stop(50%, #ff6048),
                to(#ffcd00)
              );
              background: linear-gradient(
                90deg,
                #d51243 0%,
                #ff6048 50%,
                #ffcd00 100%
              );
              border-radius: 10px;
            }
          }
          .star {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            i {
              margin: 5px;
              color: yellow;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
  #slider {
    * {
      margin: 0;
      padding: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .home-slider {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .owl-nav {
      position: absolute;
      top: 200px;
      width: 100%;
      .owl-prev {
        position: absolute;
        left: 60px;
        i {
          position: absolute;
          left: 60px;
          background-color: white;
          width: 50px;
          height: 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 50%;
        }
      }
      .owl-next {
        position: absolute;
        right: 60px;
        i {
          position: absolute;
          right: 60px;
          background-color: white;
          width: 50px;
          height: 50px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 50%;
        }
      }
    }
  }
  #products {
    .products {
      padding: 15px;
      width: 1200px;
      height: 322.4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      .main-product {
        font-family: "Inter", sans-serif;
        width: 232.6px;
        height: 290.4px;
        padding: 20px;
        border: 1px solid #2bbef9;
        .image {
          margin-bottom: 15px;
          width: 192.6px;
          height: 192.6px;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        .detale {
          text-align: center;
          h3 {
            font-size: 20px;
            text-align: center;
          }
        }
        .count {
          text-align: center;
        }
      }
      .allproducts {
        padding: 20px;
        margin-left: 10px;
        width: 229.6px;
        height: 145.2px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #2bbef9;
        .image {
          width: 70px;
          height: 70px;
          margin-right: 12px;
          margin-bottom: 15px;
          background-color: black;
          a {
            text-decoration: none;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
        .detale {
          width: 110.6px;
          height: 59.6px;
          h3 {
            width: 100%;
            height: 33.6px;
            margin-bottom: 8px;
            font-size: 15px;
            a {
              color: #202435;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  #shopen {
    .shopenies {
      width: 1200px;
      padding-top: 40px;
      .cookie {
        position: relative;
        p {
          position: absolute;
          top: 20px;
          left: 30px;
          font-family: "Inter", sans-serif;
          color: green;
        }
        h4 {
          position: absolute;
          top: 60px;
          left: 30px;
        }
        a {
          position: absolute;
          padding: 5px 20px;
          color: white;
          text-decoration: none;
          border-radius: 10px;
          top: 180px;
          left: 50px;
        }
        span {
          position: absolute;
          top: 90px;
          left: 30px;
        }
        img {
          border-radius: 20px;
          width: 100%;
        }
      }
    }
  }
  #carousel2 {
    .slide {
      width: 1200px;
      .mycarusel {

        position: relative;
        .mycard {
          position: relative;
          border: none;
          border-right: 1px solid #edeef5;
          border-bottom: 1px solid #edeef5;
          .card-body {
            position: inherit;
            h5 {
              font-size: 15px;
              color: #202335;
              font-family: "Intern", sans-serif;
            }
            .stock {
              color: #00b853;
              font-size: 0.6875rem;
              margin-bottom: 0.625rem;
              font-weight: bold;
            }
            .rateing {
              font-family: "klbtheme";
              font-size: 11px;
              padding-top: 10px;
              .activerateing {
                color: orange;
              }
            }
            .price {
              .oldprice {
                text-decoration: line-through;
                color: #c2c2de;
                font-size: 80%;
                font-weight: 500;
              }
              .newprice {
                font-family: "Dosis", sans-serif;
              }
            }
            a {
              width: 100%;
              color: white;
              border-radius: 20px;
              opacity: 0;
              position: relative;
            }
          }
          &:hover a {
            opacity: 1;
            transition: all 0.8s;
            margin-top: 220px;
          }
          &:hover {
            position: relative;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border: 2px solid #edeef5;
      
            z-index: 12;
          }
          .percent {
            position: absolute;
            left: 10px;
            top: 10px;
            background-color: #0077b5;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-family: "Dosis", sans serif;
            font-weight: 700;
          }
          .zoom {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 30px;
            right: 20px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            border-radius: 50%;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            opacity: 0;
            &:hover {
              background-color: #1da1f2;
              color: white;
            }
          }
          .heart {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 80px;
            right: 20px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            border-radius: 50%;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            opacity: 0;
            &:hover {
              background-color: #1da1f2;
              color: white;
            }
          }
          &:hover .heart {
            opacity: 1;
            transition: all 0.5s;
          }
          &:hover .zoom {
            opacity: 1;
            transition: all 0.3s;
          }
        }
        .owl-nav {
          position: absolute;
          top: 40%;
          width: 100%;
          height: 50px;
          .owl-prev {
            position: absolute;
            left: -30px;
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid black;
            span {
              font-size: 30px;
              margin-bottom: 9px;
              display: block;
            }
          }
          .owl-next {
            position: absolute;
            right: -30px;
            background-color: white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid black;
            span {
              font-size: 30px;
              margin-bottom: 9px;
              display: block;
            }
          }
        }
      }
    }
  }
  #endtainer {
    .own-container {
      width: 1200px !important;
      .mycard {
        position: relative;
        border: none;
        border-right: 1px solid #edeef5;
        border-bottom: 1px solid #edeef5;
        .card-body {
          position: inherit;
          h5 {
            font-size: 15px;
            color: #202335;
            font-family: "Intern", sans-serif;
          }
          .stock {
            color: #00b853;
            font-size: 0.6875rem;
            margin-bottom: 0.625rem;
            font-weight: bold;
          }
          .rateing {
            font-family: "klbtheme";
            font-size: 11px;
            padding-top: 10px;
            .activerateing {
              color: orange;
            }
          }
          .price {
            .oldprice {
              text-decoration: line-through;
              color: #c2c2de;
              font-size: 80%;
              font-weight: 500;
            }
            .newprice {
              font-family: "Dosis", sans-serif;
            }
          }
          a {
            width: 100%;
            background-color: #233a95;
            color: white;
            border-radius: 20px;
            opacity: 0;
            position: relative;
          }
        }
        &:hover a {
          opacity: 1;
          transition: all 0.8s;
          margin-top: 220px;
        }
        &:hover {
          position: relative;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          border: 2px solid #edeef5;
    
          z-index: 12;
        }
        .percent {
          position: absolute;
          left: 10px;
          top: 10px;
          background-color: #0077b5;
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          font-family: "Dosis", sans serif;
          font-weight: 700;
        }
        .zoom {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 30px;
          right: 20px;
          width: 40px;
          height: 40px;
          font-size: 20px;
          border-radius: 50%;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          opacity: 0;
          &:hover {
            background-color: #1da1f2;
            color: white;
          }
        }
        .heart {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 80px;
          right: 20px;
          width: 40px;
          height: 40px;
          font-size: 20px;
          border-radius: 50%;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          opacity: 0;
          &:hover {
            background-color: #1da1f2;
            color: white;
          }
        }
        &:hover .heart {
          opacity: 1;
          transition: all 0.5s;
        }
        &:hover .zoom {
          opacity: 1;
          transition: all 0.3s;
        }
      }
      .custom-col-2 {
        padding: 0;
        width: 240px !important;
        height: 380px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
  #end-banners {
    .zero-image1 {
      background-image: url("https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-05.jpg");
      background-color: #cccccc;
      border-radius: 15px;
      height: 250px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      h4{
        color: green;
      }
      h3{
        color: gray;
      }
    }
    .zero-image2{
      background-image: url("https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-06.jpg");
      background-color: #cccccc;
      border-radius: 15px;
      height: 250px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      h4{
        color: green;
      }
      h3{
        color: gray;
      }
    }
    .zero-image3{
      background-image: url("https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-10.jpg");
      background-color: #cccccc;
      border-radius: 15px;
      height: 250px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      h4{
        color: green;
      }
      h3{
        color: gray;
      }
    }
  }
}
footer {
  #image {
    background-color: blue;
    margin-top: 15px;
    .content {
      h4 {
        margin-top: 15px;
        color: white;
      }
      h2 {
        margin-top: 15px;
        color: white;
      }
      h6 {
        margin-top: 15px;
        color: white;
      }
      #email-btn {
        margin-top: 15px;
      }
    }
  }
  #garts {
    .fresh-product {
      width: 100%;
      height: 50px;
      text-align: center;
      padding: 15px 0;
      border-left: 1px solid $gray-text-color;
      border-right: 1px solid $gray-text-color;
      span {
        color: $gray-text-color;
      }
    }
    .delivery {
      width: 100%;
      height: 50px;
      text-align: center;
      padding: 15px 0;
      border-left: 1px solid $gray-text-color;
      border-right: 1px solid $gray-text-color;
      span {
        color: $gray-text-color;
      }
    }
    .daily {
      width: 100%;
      height: 50px;
      text-align: center;
      padding: 15px 0;
      border-left: 1px solid $gray-text-color;
      border-right: 1px solid $gray-text-color;
      span {
        color: $gray-text-color;
      }
    }
    .best-price {
      width: 100%;
      height: 50px;
      text-align: center;
      padding: 15px 0;
      border-left: 1px solid $gray-text-color;
      border-right: 1px solid $gray-text-color;
      span {
        color: $gray-text-color;
      }
    }
  }
  #links {
    .fruit {
      h5 {
        font-size: 15px;
      }
      ul {
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: $gray-text-color;
          }
        }
      }
    }
    .breakfast {
      h5 {
        font-size: 15px;
      }
      ul {
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: $gray-text-color;
          }
        }
      }
    }
    .meat {
      h5 {
        font-size: 15px;
      }
      ul {
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: $gray-text-color;
          }
        }
      }
    }
    .beverages {
      h5 {
        font-size: 15px;
      }
      ul {
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: $gray-text-color;
          }
        }
      }
    }
    .breads {
      h5 {
        font-size: 15px;
      }
      ul {
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: $gray-text-color;
          }
        }
      }
    }
  }
}
#Contact-foot {
  .working {
    i {
      font-size: 50px;
    }
    h5 {
      margin-left: 25px;
      display: inline;
    }
    span {
      margin-left: 55px;
    }
  }
  .social {
    display: flex;
    h6 {
      margin-right: 15px;
    }
    i {
      margin-right: 15px;
      font-size: 25px;
    }
  }
}
#end-footer {
  .copyright {
    p {
      font-size: 12px;
      color: $gray-text-color;
    }
  }
  .socila-links {
    a {
      font-size: 13px;
      margin-left: 15px;
      color: $gray-text-color;
    }
    i {
      margin-left: 15px;
      font-size: 20px;
      .card {
        width: 100%;
      }
    }
  }
}
