@{
    ViewData["Title"] = "Blog";
}
@section style{
    
    <link rel="stylesheet" href="~/assets/css/blog.css">
}

<main>
    <section id="blog-first">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <img class="imag1" src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-3.jpg"
                         alt="">
                    <h1>But I must explain to you how all this mistaken idea</h1>
                    <p>
                        Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales
                        elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin
                        efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis,
                        vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id
                        efficitur ultrices, sapien mauris sodales
                    </p>
                    <button class="btn btn-primary">Read More</button>
                </div>
                <div class="col-3">

                    <input type="search" id="form1" placeholder="search" class="form-control" />
                    <h5 class="popular">POPULAR POSTS</h5>
                    <div class="forms">

                        <div class="form1">
                            <img class="daily1"
                                 src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/blog-3-100x100.jpg"
                                 alt="">
                            <p>But I must explain to you how all this mistaken idea</p>
                        </div>
                        <div class="form2">
                            <img class="daily2"
                                 src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/blog-5-100x100.jpg"
                                 alt="">
                            <p>The Problem With Typefaces on the Web</p>
                        </div>
                        <div class="form3">
                            <img class="daily3"
                                 src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/blog-1-100x100.jpg"
                                 alt="">
                            <p>English Breakfast Tea With Tasty Donut Desserts</p>
                        </div>

                    </div>
                    <div class="social-media">
                        <h5 class="social">Social Media</h5>
                        <div class="face">
                            <i class="fab fa-facebook-square"></i> <span>Facebook</span>
                        </div>
                        <div class="twitter">
                            <i class="fab fa-twitter"></i> <span>Twitter</span>
                        </div>
                        <div class="pinterest">
                            <i class="fab fa-pinterest"></i> <span>Pinterest</span>
                        </div>
                        <div class="linkedin">
                            <i class="fab fa-linkedin"></i><span>Linkedin</span>
                        </div>
                        <div class="insta">
                            <i class="fab fa-instagram"></i> <span>Instagram</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section id="blog-second">
        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col-9 mt-4">
                    <img class="img-5" src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-5.jpg"
                         alt="">
                    <h1 class="the">The Problem With Typefaces on the Web</h1>
                    <p class="feugiat">
                        Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet
                        velit, sodales
                        elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin
                        efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis,
                        vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id
                        efficitur ultrices, sapien mauris sodales
                    </p>
                    <button class="btn btn-primary">Read More</button>
                </div>
                <div class="col-3">
                    <div class="banner">
                        <h5 class="widget">Widget Banner</h5>
                        <img class="img-ban"
                             src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/sidebar-banner.gif"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog-third">
        <div class="container">
            <div class="row mt-5">
                <div class="col-9 mt-5">
                    <img class="blog-end" src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-1.jpg" alt="">
                    <h1 class="english">English Breakfast Tea With Tasty Donut Desserts</h1>
                    <p class="sem">
                        Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales
                        elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin
                        efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis,
                        vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id
                        efficitur ultrices, sapien mauris sodales
                    </p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
    </section>
</main>
