* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-tag {
  background-color: blue;
  color: white;
  padding-top: 5px;
  font-size: large;
  height: 30px;
  text-align: center;
}

#first-nav nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-nav nav .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-nav nav .list ul li {
  list-style-type: none;
}

#first-nav nav .list ul li a {
  font-size: 13px;
  margin-right: 10px;
  text-decoration: none;
  color: #3e445a;
}

#first-nav nav .list ul li a:hover {
  color: mediumturquoise;
}

#first-nav nav .center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-nav nav .center .secure-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3e445a;
  font-size: 13px;
  margin-right: 5px;
}

#first-nav nav .center .call-helping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #3e445a;
  border-right: 1px solid #3e445a;
}

#first-nav nav .center .call-helping span {
  font-size: 13px;
  color: #3e445a;
}

#first-nav nav .center .call-helping span a {
  font-size: 15px;
  text-decoration: none;
  color: mediumturquoise;
}

#first-nav nav .center .call-helping span a:hover {
  text-decoration: underline;
}

#first-nav .drops {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#first-nav .drops #drip {
  font-size: 13px;
}

#first-nav .drops #drop {
  font-size: 13px;
}

#second-nav .logo {
  width: 100%;
  height: 30px;
}

#second-nav .logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#second-nav .logo:hover {
  cursor: pointer;
}

#second-nav .location {
  height: 250px;
  overflow-y: scroll;
  margin-top: 15px;
}

#second-nav .location h3 a {
  color: #3e445a;
  text-decoration: none;
  font-size: 20px;
}

#second-nav .location h3 a:hover {
  color: mediumturquoise;
}

#second-nav .input-group {
  width: 100%;
  height: 30px;
}

#second-nav .input-group .form-outline {
  width: 80%;
}

#second-nav #search-btn {
  width: 20%;
}

#second-nav .log-users {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#second-nav .log-users a {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

#second-nav .log-users a #log {
  color: #3e445a;
}

#second-nav .log-users a i {
  font-size: 35px;
  color: red;
}

#second-nav .log-users a i span {
  position: absolute;
  font-size: 20px;
  color: orangered;
}

#second-nav .log-users #span {
  color: #3e445a;
  font-size: 26px;
}

#third-nav .catagories {
  width: 100%;
  height: 60px;
  background-color: mediumturquoise;
  border-radius: 20px;
  text-align: center;
}

#third-nav .catagories .allCatan {
  position: absolute;
  margin-top: 15px;
  margin-left: -55px;
}

#third-nav .catagories .drobovik {
  padding-top: 15px;
  position: absolute;
  z-index: 2;
}

#third-nav .catagories #ulli {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 40px;
}

#third-nav .catagories #ulli ul li {
  list-style-type: none;
}

#third-nav .catagories #ulli ul li a {
  text-decoration: none;
  color: #3e445a;
}

#third-nav .catagories #ulli ul li a:hover {
  color: mediumturquoise;
}

#third-nav .catagories #ulli ul li .fruits {
  position: absolute;
  margin-left: 15px;
  width: 200px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  z-index: 2;
}

#third-nav .catagories #ulli ul li .beverag {
  position: absolute;
  margin-left: 220px;
  border: 1px solid black;
  border-radius: 20px;
  width: 200px;
  background-color: white;
  z-index: 2;
}

#third-nav .nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#third-nav .nav-bar ul li {
  list-style-type: none;
}

#third-nav .nav-bar ul li a {
  margin-left: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #3e445a;
}

#third-nav .nav-bar ul li a:hover {
  color: mediumturquoise;
}

#third-nav #btn-home-group {
  right: 0px;
  color: #3e445a;
}

#third-nav #btn-home-group ul {
  display: inline;
}

#third-nav #home-drop:hover {
  color: mediumturquoise;
}

#third-nav #btn-shop {
  color: #3e445a;
}

#third-nav #btn-shop:hover {
  color: mediumturquoise;
}

#third-nav #show-drop {
  width: 100vw;
  margin-left: -40vw;
}

#third-nav #show-drop .show-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#third-nav #show-drop .show-menu .hide-shop {
  width: 25%;
}

#third-nav #show-drop .show-menu .hide-shop ul {
  text-align: center;
  width: 100%;
  display: inline;
}

#third-nav #show-drop .show-menu .hide-product {
  width: 25%;
}

#third-nav #show-drop .show-menu .hide-product ul {
  text-align: center;
  width: 100%;
  display: inline;
}

#third-nav #show-drop .show-menu .product-types {
  width: 25%;
}

#third-nav #show-drop .show-menu .product-types ul {
  text-align: center;
  width: 100%;
  display: inline;
}

#third-nav #show-drop .show-menu .show-pages {
  width: 25%;
}

#third-nav #show-drop .show-menu .show-pages ul {
  text-align: center;
  width: 100%;
  display: inline;
}

#third-nav #show-drop .show-menu .shop-layouts {
  width: 25%;
}

#third-nav #show-drop .show-menu .shop-layouts ul {
  text-align: center;
  width: 100%;
  display: inline;
}

main #img .hero-image {
  background-image: url("https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-header.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main #img .hero-image .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

main #texts .quisque {
  margin-left: 30px;
  margin-top: 30px;
}

main #texts .in-nec {
  margin-top: 30px;
  margin-left: 60px;
}

main #img-second .bad-boy {
  width: 96%;
  position: relative;
}

main #img-second .detail {
  margin-top: 150px;
}

main #img-second .detail .rachel {
  margin-top: 20px;
}

main #img-second .detail .duis {
  margin-top: 20px;
}

main #img-second .detail .lorem {
  margin-top: 20px;
}

main #img-second .purus {
  position: absolute;
  float: right;
  margin-left: 90px;
  margin-top: 700px;
  background-color: white;
  border-radius: 20px;
  width: 70%;
  height: 150px;
}

main #img-second .purus p {
  margin: 30px;
}

main #img-second .end-text {
  margin-top: 150px;
}

footer #image {
  background-color: blue;
  margin-top: 15px;
}

footer #image .content h4 {
  margin-top: 15px;
  color: white;
}

footer #image .content h2 {
  margin-top: 15px;
  color: white;
}

footer #image .content h6 {
  margin-top: 15px;
  color: white;
}

footer #image .content #email-btn {
  margin-top: 15px;
}

footer #garts .fresh-product {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0;
  border-left: 1px solid #3e445a;
  border-right: 1px solid #3e445a;
}

footer #garts .fresh-product span {
  color: #3e445a;
}

footer #garts .delivery {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0;
  border-left: 1px solid #3e445a;
  border-right: 1px solid #3e445a;
}

footer #garts .delivery span {
  color: #3e445a;
}

footer #garts .daily {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0;
  border-left: 1px solid #3e445a;
  border-right: 1px solid #3e445a;
}

footer #garts .daily span {
  color: #3e445a;
}

footer #garts .best-price {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0;
  border-left: 1px solid #3e445a;
  border-right: 1px solid #3e445a;
}

footer #garts .best-price span {
  color: #3e445a;
}

footer #links .fruit h5 {
  font-size: 15px;
}

footer #links .fruit ul li {
  list-style-type: none;
}

footer #links .fruit ul li a {
  text-decoration: none;
  color: #3e445a;
}

footer #links .breakfast h5 {
  font-size: 15px;
}

footer #links .breakfast ul li {
  list-style-type: none;
}

footer #links .breakfast ul li a {
  text-decoration: none;
  color: #3e445a;
}

footer #links .meat h5 {
  font-size: 15px;
}

footer #links .meat ul li {
  list-style-type: none;
}

footer #links .meat ul li a {
  text-decoration: none;
  color: #3e445a;
}

footer #links .beverages h5 {
  font-size: 15px;
}

footer #links .beverages ul li {
  list-style-type: none;
}

footer #links .beverages ul li a {
  text-decoration: none;
  color: #3e445a;
}

footer #links .breads h5 {
  font-size: 15px;
}

footer #links .breads ul li {
  list-style-type: none;
}

footer #links .breads ul li a {
  text-decoration: none;
  color: #3e445a;
}

#Contact-foot .working i {
  font-size: 50px;
}

#Contact-foot .working h5 {
  margin-left: 25px;
  display: inline;
}

#Contact-foot .working span {
  margin-left: 55px;
}

#Contact-foot .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Contact-foot .social h6 {
  margin-right: 15px;
}

#Contact-foot .social i {
  margin-right: 15px;
  font-size: 25px;
}

#end-footer .copyright p {
  font-size: 12px;
  color: #3e445a;
}

#end-footer .socila-links a {
  font-size: 13px;
  margin-left: 15px;
  color: #3e445a;
}

#end-footer .socila-links i {
  margin-left: 15px;
  font-size: 20px;
}

#end-footer .socila-links i .card {
  width: 100%;
}
/*# sourceMappingURL=about-us.css.map */