@model SliderVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Photos"></label>
            <input class="form-control" style="width:300px" asp-for="Photos">
            <span class="text-danger" asp-validation-for="Photos"></span>
            <label asp-for="Desc"></label>
            <input type="text" class="form-control" style="width:300px" asp-for="Desc">
            <span class="text-danger" asp-validation-for="Desc"></span>
        </div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>

