$gray-text-color:rgb(62,68,90);
$aqua-color: rgb(72, 209, 204);
$secondary-color: rgb(125,125,125);
$text-color: rgb(126,125,125);
$primary-fontFamily: "Times New Roman", Times, serif;
$primary-color : #233a95;
$secondary-color : #2bbef9;
$primary-fontFamily : "Inter",sans-serif;
$oldPrice-color: #c2c2d3;
$newPrice-color: #d51243;
$text-color: #202435;
$succes-color: #00b853;
$info-color: #9b9bb4;