@{
    ViewData["Title"] = "Contact";
}
@section style{
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/flipclock.css">
    <link rel="stylesheet" href="~/assets/css/contact.css">
}
<main>
    <section id="center">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 mt-5">
                    <div class="text">
                        <h1>Get In Touch</h1>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam
                            dolor culpa veritatis inventore, aut commodi eum veniam vel.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row mt-5">
                <div class="col-4">
                    <div class="konum">
                        <i class="fas fa-map-marker"></i>
                        <h5>102 Street 2714 Donovan</h5>
                        <p>Lorem ipsum dolar site amet discont</p>
                    </div>

                </div>
                <div class="col-4">
                    <div class="contact">
                        <i class="fas fa-phone-square-alt"></i>
                        <h5>+02 1234 567 88</h5>
                        <p>Lorem ipsum dolar site amet discont</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="info">
                        <i class="fas fa-envelope"></i>
                        <h5>info@example.com</h5>
                        <p>Lorem ipsum dolar site amet discont</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="send-us">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 mt-5">
                    <div class="allw">
                        <div class="columes">
                            <div class="text-center">
                                <h4>Send Us</h4>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde
                                    quam
                                    dolor culpa veritatis inventore, aut commodi eum veniam vel.
                                </p>

                            </div>
                            <hr>
                            <div class="name-email">
                                <div class="name">
                                    <p>Your name *</p>
                                    <input type="text" class="form-control" placeholder="Enter your name">
                                </div>
                                <div class="email">
                                    <p>Your email *</p>
                                    <input type="email" class="form-control" placeholder="Enter your email">
                                </div>
                            </div>
                            <div class="inp">
                                <p>Subject *</p>
                                <input type="text" class="form-control">
                                <p>Your message</p>
                                <input type="text" class="form-control msj">
                                <button class="btn btn-primary mt-3">Send Message</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</main>
